@charset "UTF-8";

body {
background-image: url("../../imagens/agua.png");
background-repeat:no-repeat; 
background-color: rgb(196,226,239);


}

#nav-btn {

      position: fixed;
      border: #Bababa 1px solid;
      border-radius: 2px;
      padding: 5px 10px;
      cursor: pointer;
      background:rgba(255,255,255, 0.3);
      transition: all 0.4s linear;

    }

    #nav-btn:hover {
      border: #0061f2 1px solid;
    }
    #nav-btn > div {
      width: 20px;
      height: 3px;
      background: #bababa;
      margin: 4px 0px;
      transition: all 0.4s linear;

    }
    #nav-btn:hover div {
      background:rgba(255,255,255, 0.3);
    }
    #nav-slide {
      position: fixed;
      left: -250px;
      top: 60px;
      width: 250px;
      height: 0px;
      transition: left 0.4s linear;
      top:90px;
      background:rgba(206,217,255, 0.9);
      font-color:black;
    }

    header {
    background-image: url("../../imagens/agua.png");
    }

  
    .material-icons.md-48 {
     font-size: 48px; 
    }


    .p1{
    	font-size: 40px;
    	height: 43px;
    }
    #idHome{
    	padding: 40px;
    	margin-top: 40px;
    	background:rgba(255,255,255, 0.7);
    }
    #idPqEconomizar{
    	
    	margin-top: 40px;
    	background:rgba(255,255,255, 0.7);
    }
    #idComoEcon{
    	
    	margin-top: 40px;
    	background:rgba(255,255,255, 0.7);
    	font-family: 'Chivo', sans-serif;
    	font-size: 20px;
    	font-weight: bold;
    	text-align: center;
    }

     #idCalculeConsumo{
    	
    	margin-top: 40px;
    	background:rgba(255,255,255, 0.7);
    }

     #idCuriosidade{
    	
    	margin-top: 40px;
    	background:rgba(255,255,255, 0.7);
    	font-family: 'Chivo', sans-serif;
    	font-size: 20px;
    	font-weight: bold;
    	text-align: center;
    }
    #idVazamento {

    	margin-top: 40px;
    	background:rgba(255,255,255, 0.7);
    	font-weight: bold;
    	font-size: 18px;
    	font-family: 'Chivo', sans-serif;
    }

    h3{
    	font-family: 'Coiny', cursive;
    	font-size: 60px;
    	color:#462dff;
    }
    a {
    	color:black;
    	font-weight:bold;
    	font-size: 18px;
    }

   
    p {
    	font-family: 'Chivo', sans-serif;
    	font-size: 24px;
    	font-weight: bold;
    	text-align: center;
    }
    hr {
    	color:blue;
    	border: solid;
    }

    label {

    	font-weight: bold;
    	font-size: 18px;
    	font-family: 'Chivo', sans-serif;
    }